<div class="btn-group-fab" role="group" aria-label="FAB Menu">
  <div>
    <button data-toggle="modal" (click)="clean()" data-target="#createModal" type="button" class="btn btn-main has-tooltip create-button" data-placement="left" title="Menu"> <svg class="bi bi-chevron-right" width="32" height="42" viewBox="0 0 20 20"  class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
      <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
    </svg>
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Criar task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="sucesso">
        Task criada com sucesso!
      </div>
      <form class="mt-5" (ngSubmit)='cadastro()' [formGroup]='formCadastro' *ngIf="!sucesso">
      <div class="modal-body">
    
          <div class="form-group">
          <input type="text" class="form-control cadastro" placeholder="Titulo" formControlName='titulo'>
          </div>
          <div class="form-group">
          <input type="text" class="form-control cadastro" placeholder="Descição" formControlName='descricao'>
          </div>
  
   
      </div>
      <div class="modal-footer">
      
        <button type="submit" class="btn btn-cadastro btn-lg">Cadastrar</button>
      </div>
    </form>
    </div>
  </div>
</div>

